@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<div class="form-group">
		<label for="originId">Nereden</label>
		<select name="originId" id="originId" class="abcd" style="width:30%">
		</select>
	</div>
	<div class="form-group">
		<label for="destinationId">Nereye</label>
		<select name="destinationId" id="destinationId" class="abcd" style="width:30%">
		</select>
	</div>
	<div class="form-group">
		<label for="datepickerId">Tarih</label>
		<input type="text" id="datepickerId">
	</div>
	<button type="button" onclick="FindTicket();" class="btn btn-primary">Bilet Bul</button>
</div>

@section Scripts {
	<script>
		$(document).ready(function() {
			$("#datepickerId").datepicker();
			$("#originId").select2();
			$("#destinationId").select2();
			GetOriginAndDestination();
		});

		function FindTicket() {
			var destinationId = $('#destinationId').val();
			console.log("destinationId", destinationId);
			var originId = $('#originId').val();
			console.log("originId", originId);
			var departureDate = $('#datepickerId').val();
			console.log("datepickerId", departureDate);

			var URL = '/Home';
			$.ajax({
				url: URL + '/GetBusJourneys',
				type: 'POST',
                data: {originId: originId,destinationId: destinationId,departureDate:departureDate},
				async: true,
				success: function(result) {
					var html = '';
					$.each(result, function(key, value) {
						html += '<option value=' + value.id + '>' + value.name + '</option>'
					});
					$('#originId').html(html);
					$("#originId").val(349).change();//İstanbul Avrupa
					$('#destinationId').html(html);
					$("#destinationId").val(356).change();//Ankara
				},
				error: function(xhr, textStatus, error) {
				},
				complete: function() {
				}
			});
		}

		function GetOriginAndDestination() {
			URL = '/Home';
			$.ajax({
				url: URL + '/GetBusLocations',
				type: 'GET',
				async: true,
				success: function(result) {
					var html = '';
					$.each(result, function(key, value) {
						html += '<option value=' + value.id + '>' + value.name + '</option>'
					});
					$('#originId').html(html);
					$("#originId").val(349).change();//İstanbul Avrupa
					$('#destinationId').html(html);
					$("#destinationId").val(356).change();//Ankara
				},
				error: function(xhr, textStatus, error) {
				},
				complete: function() {
				}
			});
		}
	</script>
}
